body{
	font-family: helvetica;
}
.center-col{
	float:none;
}
.space{
	padding: 20px 0px;
}
.text-green{
	color: #0a0;
}
.header{
	padding: 20px 0px;
}
a{
	text-decoration: none;
	color: inherit;
}
.menu ul{
	list-style-type: none;
}
.menu ul li{
	list-style-type: none;
	display: inline-block;
	margin: 0px 10px;
}
.menu ul li a{
	display: inline-block;
	padding: 10px 0px;
	font-weight: bold;
}
.menu ul li a:hover{
	color: #0a0;
}
.img{
	width: 100%;
}
.slider{
	position: relative;
}
.slider img{
	position: absolute;
}
.caption{
	position: absolute;
	top:50%;

}
.caption .text-big{
	font-size: 65;
}
.caption .text{
	font-size: 30;
}
.btn{
	padding: 10px 0px;
	display: block;
	width: 100%;
	background: rgba(0,0,0,0);
	border:1px solid #000;
	text-align: center;
}
.btn-dark{
	background: rgba(0,0,0,1);
	color: #eee;
}
.btn-dark:hover{
	background: rgba(0,0,0,0);
	color: #000;
}
.btn-green{
	background: #0a0;
	color: #fff;
	border:1px solid #fff;
}
.box{
	background: #fff;
	margin:0px 10px 10px 0px;
	padding: 10px;
	text-align: center;
	border: 1px solid #aaa;
}
.box:hover{
	border:1px solid #0a0;
	opacity: 0.5;
}
.wrapper{
}
.video{
	padding: 0px 15px 10px 0px;
}
.video video {
	width: 100%;
}
.panel-header{
	margin: 0px 10px 10px 0px;
}
.testimoni-background{
	background-image: url("../assets/background/photo-1429277096327-11ee3b761c93.jpg");
	background-position: center;
	color: #fff;
}
.thumbnail{
	border-radius: 50%;	
}
.highlight{
	background: rgba(40,0,90,0.5);
	padding: 50px 0px 70px 0px;
}
.text-big{
	font-size: 30;
}
.copyright{
	text-align: center;
}
.logo{
	opacity: 0.5;
}
.logo:hover{
	opacity: 1;
}
.table{
	width: 100%;
	border: 2px solid #eee;
}
.table-title td{
	border-bottom: 2px solid #eee;
	font-weight: bold;
	text-align: center;
}
.table tr td{
	padding: 10px 10px ;
}
.img-cart{
	height: 200px;
}
.form-control{
	width: 100%;
	display: block;
	padding: 5px 5px;
}
.text-bold{
	font-weight: bold;
}
.form-row{
	padding:5px 0px;
	margin: 0px 10px 0px 0px;
}
.form-row label{
	padding:0px 0px 5px 0px;
}
.icon-checkout {
	padding: 25%;
	text-align: center;
}
.icon-checkout img{
	border:1px solid #555;
	border-radius:50%;
	padding: 25%;
}
.icon-checkout .active{
	border:1px solid #0a0;
}